@import"maps"; 



body{
    background-color: black;
    color: azure;
   
}
h2{
  font-size: $h2;
  font-family: lato;
  font-weight: bold;
}
h3{
  font-size: $h3;
  font-family: lato;
  font-weight: bold;
}
h5{
  
  color:black
}
h6{
  font-size: $h6;
  color: white;
  
  font-weight: bold;
}

p{
  font-size: $p;
  font-family: lato;
  font-weight: normal;
  color: rgb(0, 0, 0);
}