body{
    background-color: black;
    color: azure;
   
}
h2{
  font-size:25px ;
  font-family: lato;
  font-weight: bold;
}
h3{
  font-size:16px ;
  font-family: lato;
  font-weight: bold;
}
h5{
  color:black
}
h6{
  color: white;
  font-size: 25px;
  font-weight: bold;
}

p{
  font-size:13px ;
  font-family: lato;
  font-weight: normal;
  color: rgb(0, 0, 0);
}